.husam{
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 270px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    


}